/Sven-Bobrowski.DE.Data/bin/Debug
/Sven-Bobrowski.DE.Data/obj/Debug
/Sven-Bobrowski.DE.Integration/obj/Debug
/Sven-Bobrowski.DE.MP/bin/Debug
/Sven-Bobrowski.DE.MP/obj/Debug
/Sven-Bobrowski.DE.Settings/obj/Debug
